/* COLORS */
*{
    --bg-green: #00B172;
    --tx-headline: #1A1A1A;
    --tx-body: #FFF;
    font-family: Poppins, monospace;
}
/* RESET */
/* img {
    width: auto;
    max-width: 100%;
    height: 100%;
} */
body {
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
}
ul {
    padding: 0;
}
a {
    text-decoration: none;
    color: var(--tx-headline);
    padding: 0.25rem 0.25rem;
}

/* CONTAINER */
.container{
    width: 98%;
    margin: auto;
}

/* NAV */
.nav {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--tx-body);
    align-items: center;
    justify-content: space-between;
    a {
        margin:  0 1rem;
    }
    img {
        width: 20%;
        height: auto;
        margin: 0.35rem 0.5rem;
    }
    ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }
    
}

/* HERO */

.header {
    background-image: url(../images/landing.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 607px;
    h1, p {
        color: var(--tx-body);
        padding: 0 3rem;
    }
}
/* SECTION */
.spotifycards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.boxes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    text-align: center;

    img {
        width: 50px;
        height: auto;
    }
}
.spotifycards{
    h2 {
        padding-bottom: 0.35rem;
        border-bottom: solid var(--bg-green) 4px;
    }
}

.spotifyapp {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: var(--tx-body);
    padding: 40px;
    background-color: var(--bg-green);
    h2 span {
        border-bottom: solid var(--tx-body) 4px;
    }
    .spotify-icon {
        max-width: 190px;
        max-height: 190px;
    }
    .spotify-app {
        width: 50%;
    }
}        
.info  {
    width: 40%;
}
/* MEDIA QUERRYS */

@media (max-width:486px) {
    .nav {
        flex-direction: column;
    }
    .nav img {
        min-width: 30%;
    }
}

@media (max-width:330px) {
    .nav ul{
        flex-direction: column;
    }
}