*{
    margin: 0;
}
header {
    background-color: red;
    height: 200px;
    
}

nav {
    background-color: blue;
    height: 50px;

}

section {
    background-color: pink;
    width: 60%;
    height: 650px;
    float: left;
}

aside {
    width: 35%;
    background-color: purple;
    height: 650px;
    float: right;
}

footer {
    background-color: greenyellow;
    height: 50px;
    clear: right;
}