
.diana {
    position: relative;
    margin: 60px auto;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: white;
    border: rgb(255, 0, 0) solid 5px;
    outline-offset: 5px;
    outline: rgb(213, 207, 207) solid 10px;
}
.outer {
    position: relative;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    outline-offset: 27px;
    outline: red solid 17px;
    z-index: 120;
}
.inner {
    position: relative;
    width: 200px;
    height: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    outline-offset: 15px;
    outline: red solid 17px;
    
}
.circle {
    position: absolute;
    background-color: red;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    outline-offset: 26px;
    outline: red solid 17px;
    z-index: 10;
}

.vertical {
    position: absolute;
    width: 2px;
    height: 300px;
    background-color: black;

    top: 0;
    right: 50%;
    transform: translate(50%, 0%);
}

.horizontal {
    position: absolute;
    width: 300px;
    height: 2px;
    background-color: black;

    top: 50%;
    right: 0;
    transform: translate(0%, 0%);
}